body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

a {
  color: #00B7FF;
}
#form_search, #categories, #main_description {
  text-align: center; /* keeps the whole form centered */
}

#categories p, #categories button {
  display: inline-block; /* keeps the <p> and <input category> in one line (in-line) */
}

.search-wrapper {
  display: inline-block; /* keeps it centered but only as wide as the input+button */
  text-align: left;      /* align children inside to the left */
}

#input_search {
  height: 40px;
  width: 700px;
  margin-bottom: 6px;
}

#text_output {
  margin: 0;
}

.hidden {
  display: none;
}


#popupCard {
  position: fixed;          /* stay in one place even when scrolling */
  background-color:rgba(103, 128, 159, 0.5);
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
}

#popupCard.hidden {
  display: none;            /* hide the popup */
}

.popup-content {
  background: white;
  width: 50vw;         /* half the screen width */
  height: 60vh;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  overflow-y: auto;
}

.popup-buttons {
  display: flex;                  /* place buttons side by side */
  justify-content: space-between; 
  width: 100%;                    /* span full width of popup */
  margin-top: 100px;
}

/* <li> is one a whole flexbox display */
.flex_row {
  display: flex;
  gap: 16px;                 
  padding: 12px;
  border: 7px solid grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 12px;
}

.box_image img{
  border-radius: 15px 50px 30px;
}

/* Column 1: image */
.box_image {
  flex: 0 0 150px;  /* fixed width */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column 2: event info (name, date, time, category) */
.box_information {
  flex: 1;                  /* grow to fill */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Column 3: event description */
.box_description {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: flex-end;           /* align to right */
  padding-right: 12px;
}
.btn_register, .btn_confirm {
  background-color: #2CE832;
  color: black;
  border-color: #2CE832 ;
  border-radius: 8px;
  padding: 8px 16px;
  transition: 0.2s ease-in-out;
}

.btn_register:hover, .btn_confirm:hover {
  background-color: green;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

.info_eventName {
  font-weight: bold;
}

/* References:
  - Viewport (adjust size based on screen size): https://www.w3schools.com/css/css_rwd_viewport.asp
  - Rounded corners: https://www.w3schools.com/css/css3_borders.asp
*/